{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200family=Roboto+Condensed:wght@300display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>S.H. </title>
</head>

<body>
    <header>
        <div>
            <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #387780;">
                <div class="container-fluid ">
                    <a class="navbar-brand " href="javascript:void(0)">Sporting House</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
                    <div class="collapse navbar-collapse " id="mynavbar">
                        <ul class="navbar-nav ms-auto ">
                            <li class="nav-item">
                                <a class="nav-link" href="#quienes_somos">Quienes somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#productos">POV eres admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="iniciosesion.html">Inicio Sesion</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

        </div>

    </header>
    <section>
        <div class="row">
            <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 container px-5">
                <div class="quienesomos ">
                <h2 class=""> Creacion de usuarios(Admin)</h2>
              
               <div class = "card">
                <div class = "card-body">
                    <form action="/registrarusuarioadmin/" method="POST">{% csrf_token %}
                        <div class = "from-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre" required>
                        </div>
                        <div class = "from-group">
                            <input type="text" id="email" name="email" class="form-control" placeholder="correo" required>
                        </div>
                        <div class = "from-group">
                            <input type="password" id="pass1" name="pass1" class="form-control" placeholder="contraseña" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success"> Crear usuario </button>

                        </div>
                    </form>
                 </div>
                </div>
               
                </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
                <div class="container py-4 quienesomos px-5">
                     <h1 >Usuarios Registrados</h1>
                  <div class="table-responsive">
                    <table class="table table-striped py-2 text-center">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>contraseña</th>
                                <th colspan="3">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in usuarios%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{u.nombre}}</td>
                                <td>{{u.correo}}</td>
                                <td>{{u.contrasena}}</td>
                                
                                <td>
                                    <a href="edicionusuario/{{u.nombre}}" class="btn btn-info m-1">Editar </a>
                                    <a href="eliminarusuario/{{u.nombre}}" class="btn btn-danger m-1">Eliminar </a>
                                 </td>
                               
                            </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                    </div>

                </div>

            </div>
        </div>
</div>
    </section>
    <section>
        <div class="container-md p-5">
            <div class="row pt-5">
                <h3 class="text-center pb-5 pt-5"> Gestion de Productos</h3>
            </div>
            <div class="row">
                <div class="col-sm ">
                    <div class="card w-100 card-border mb-5">
                        <a href="running.html"><img src="{% static 'core/img/pesas.jpg'%}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">EN MANTENIMIENTO</h5>
                            <p class="card-text">EN MANTENIMIENTO.</p>

                        </div>

                    </div>

                </div>

                <div class="col-sm ">
                    <div class="card w-100 card-border mb-5">
                        <a href="running.html"><img src="{% static 'core/img/zapatillas.jpg'%}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">EN MANTENIMIENTO</h5>
                            <p class="card-text">EN MANTENIMIENTOo</p>

                        </div>

                    </div>

                </div>
                <div class="col-sm ">
                    <div class="card w-100 card-border mb-5">
                        <a href="running.html"> <img src="{% static 'core/img/bicicleta.png'%}" class="card-img-top" alt="..."> </a>
                        <div class="card-body">
                            <h5 class="card-title">EN MANTENIMIENTO</h5>
                            <p class="card-text">EN MANTENIMIENTO</p>

                        </div>

                    </div>

                </div>



            </div>
        </div>
    </section>



    <footer class="text-white pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Sobre nosotros</h5>
                    <p>Somos una tienda especializada en equipamiento deportivo para fútbol, baloncesto, natación, atletismo y equipamiento para otros deportes en general, también te ofrecemos tanto calzado para running como las mejores prendas para running.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Sporting house</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none">inicio </a>
                    </p>
                    <p>
                        <img src="img/logo.png" alt="" class=" w-100 ajustalogo" style="box-shadow: none;">
                    </p>


                </div>
                <div class="col-md-4 col-lg-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i>San José Ote. 277, Viña del Mar, Valparaíso
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>Sportinghouse@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>+56 9 3424 6294
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i>+01 7723 3421
                    </p>

                </div>
            </div>
            <hr class="mb-3 ">
            <div class="row align-intems-center ">
                <div class="col-md-7 col-lg-8 mx-auto">
                    <p>Copiright ©2022 All rights reserved by:
                        <a href="#" style="text-decoration: none;">
                            <strong class="text-warning">Sporting house </strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>


    </footer>



    <script src="https://kit.fontawesome.com/8b9f21d177.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>

</html>